/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #2859bb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-formholder {
  background-color: azure;
  height: 200px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
*{
  margin: 0px;
  padding: 0px;
}

.nav a{
  color: black !important
}

.nav li{
  margin-right: 80px;
  font-size: 28px
}

.nav h1{
  float:left
}

.nav ul{
  float: right;
}

.nav{
  display: block;
}
.nav ul{
  display:flex;
  list-style: none;

}

.blogpost{
  display: inline-grid;
  margin: 100px 0
}

.blogpost h4{
  font-size: 18px;
  color: gray;
  font-weight: 100;
}

.blogpost p span{
  font-weight: 800;
  margin: 0 20px;
}

.layout{
  padding-top: 40px
}

html, body {
  height: 100%;
  display: flex;

  width: 100%;
  justify-content: center;
}

#root{
  width:70% !important;

}

.formContainer{
  position: relative;
  background-color: azure;
  /* width: 50vh; */
  padding: 20px;
  margin-top: 150px;
  /* text-align: center; */
  border-radius: 5px;
}

.formContainer h4, .formContainer span {
  text-align: center;
}

.formContainer .leftCheck {
  text-align: left !important;
}